/* You can add global styles to this file, and also import other style files */
body{
    background: #eee!important;
}

.swal2-spacer {
    background-color: rgba(250, 235, 215, 0)!important;
    margin-bottom: 5px;
}