<div class="notification is-white">
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a>Dashboard</a></li>
      <li><a>Order</a></li>
    </ul>   
    <p class="menu-label">
      Product
    </p>
    <ul class="menu-list">
      <li><a>Product List</a></li>
      <li><a class="is-active" routerLink="product/add">Add Product</a></li>
    </ul>
    <p class="menu-label">
      Category
    </p>
    <ul class="menu-list">
      <li><a>Category List</a></li>
      <li><a>Add Category</a></li>
    </ul>
    <p class="menu-label">
      Customer
    </p>
    <ul class="menu-list">
      <li><a>Customer List</a></li>
      <li><a>Add Customer</a></li>
    </ul>
    <p class="menu-label">
      Adminstrator
    </p>
    <ul class="menu-list">
      <li><a>Admin List</a></li>
      <li><a>Add Admin</a></li>
    </ul>
    <p class="menu-label">
      View
    </p>
    <ul class="menu-list">
      <li><a>Create Slide</a></li>
      <li><a>About</a></li>
      <li><a>How to pay</a></li>
    </ul>   
    <p class="menu-label">
      Report
    </p>
    <ul class="menu-list">
      <li><a>Report</a></li>
    </ul>   
  </aside>
</div>