<div class="notification is-white">
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a>Dashboard</a></li>
      <li><a>Order</a></li>
    </ul>   
    <p class="menu-label">
      Product
    </p>
    <ul class="menu-list">
      <li><a>สินค้า</a></li>
      <li><a [ngClass]="{'is-active': menu_product_add}"  (click)="menu('product', 'add')">เพิ่ม สินค้า</a></li>
    </ul>
    <p class="menu-label">
      Category
    </p>
    <ul class="menu-list">
      <li><a [ngClass]="{'is-active': menu_category_list}"  (click)="menu('category', 'list')" >ประเภทสินค้า</a></li>
      <li><a [ngClass]="{'is-active': menu_category_add}"  (click)="menu('category', 'add')" >เพิ่ม ประเภทสินค้า</a></li>
    </ul>
    <p class="menu-label">
      Customer
    </p>
    <ul class="menu-list">
      <li><a>สมาชิก</a></li>
    </ul>
    <p class="menu-label">
      Adminstrator
    </p>
    <ul class="menu-list">
      <li><a>ผู้ดูแลระบบ</a></li>
      <li><a>เพิ่ม ผู้ดูแลระบบ</a></li>
    </ul>
    <p class="menu-label">
      View
    </p>
    <ul class="menu-list">
      <li><a>สร้าง สไลด์</a></li>
      <li><a>เกี่ยวกับ</a></li>
      <li><a>วิธีโอนเงิน</a></li>
    </ul>   
    <p class="menu-label">
      Report
    </p>
    <ul class="menu-list">
      <li><a>รายงาน</a></li>
    </ul>   
  </aside>
</div>