<form>

  <div class="columns">
    <div class="column">

      <label class="label">ชื่อสินค้า</label>
      <p class="control">
        <input class="input" type="text" placeholder="ชื่อสินค้า">
      </p>

      <label class="label">ประเภทสินค้า</label>
      <p class="control">
        <input class="input" type="text" placeholder="ประเภทสินค้า">
      </p>    
      
      <div class="control is-grouped">

        <p class="control">
          <button class="button is-primary">เพิ่มสินค้า</button>
        </p>
        
        <p class="control">
          <button class="button">ล้างข้อมูล</button>
        </p>

      </div>

    </div>

    <div class="column"></div>

  </div>

</form>